---
import { Urls } from "@/constants/meta";
import Link from "@/elements/Link.astro";
import Text from "@/elements/Text.astro";
import ImageItem01 from "./_images/projects_item-01.png";

const items = [
  { title: "Soelu Studio", url: `${Urls.PROJECT_LIST}/soelu-studio`, image: ImageItem01 },
  { title: "Soelu LP", image: ImageItem01 },
  { title: "hogehoge", image: ImageItem01 },
  { title: "hugahuga", image: ImageItem01 },
  { title: "mochimochi", image: ImageItem01 },
];
---

<section class="container">
  <div class="inner">
    <h2 class="title">Projects</h2>
    <ul class="list">
      {
        items.map((item) => (
          <li class="list-item" style={`background-image:url(${item.image.src})`}>
            {item.url && (
              <Link url={item.url}>
                <div class="list-item-title">
                  <Text color="primary">{item.title}</Text>
                </div>
              </Link>
            )}
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .inner {
    @include inner;

    position: relative;
  }

  .title {
    @include title(primary, xxlarge, uppercase);

    @include up(xlarge) {
      @include title(primary, large, uppercase);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .list {
    display: grid;
    gap: sp(normal);
    margin-top: sp(large);

    @include up(xlarge) {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(12, 1fr);
      gap: sp(medium);
      height: 780px;
      margin-top: 0;
    }

    &-item {
      @include box;

      position: relative;
      align-items: center;
      justify-content: center;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      border-radius: rd(normal);

      @include up(xlarge) {
        aspect-ratio: unset;

        &:nth-child(1) {
          grid-row: span 2 / span 2;
          grid-column: span 4 / span 4;
        }

        &:nth-child(2) {
          grid-row: span 2 / span 2;
          grid-column: span 4 / span 4;
          grid-column-start: 5;
        }

        &:nth-child(3) {
          grid-row: span 3 / span 3;
          grid-column: span 4 / span 4;
          grid-column-start: 9;
        }

        &:nth-child(4) {
          grid-row: span 3 / span 3;
          grid-row-start: 3;
          grid-column: span 4 / span 4;
        }

        &:nth-child(5) {
          grid-row: span 2 / span 2;
          grid-row-start: 4;
          grid-column: span 8 / span 8;
          grid-column-start: 5;
        }
      }

      &-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
