---
import Text from "@/elements/Text.astro";

const { text } = Astro.props;
---

<div class="container">
  <div class="inner">
    <Text align="center">
      {text}
    </Text>
  </div>
</div>

<style lang="scss">
  @use "@/styles/common/variables" as *;
  @use "@/styles/common/mixins" as *;

  .container {
    @include container;
  }

  .inner {
    @include container-inner;
  }
</style>
