---
import Text from "@/elements/Text.astro";
import type { Flow } from "@/types/project";

const { items } = Astro.props as { items: Flow[] };
---

<div class="container">
  <ol class="list">
    {
      items.map((item) => (
        <li class="list-item">
          <dl class="description">
            <dt class="description-title">{item.title}</dt>
            <dd>
              <Text>{item.body}</Text>
            </dd>
          </dl>
        </li>
      ))
    }
  </ol>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: space(lg);

    @include up(xl) {
      flex-direction: row;
    }

    &-item {
      position: relative;
      padding-left: space(lg);

      @include up(xl) {
        padding-top: space(lg);
        padding-left: 0;
      }

      &:not(:last-child) {
        &::before {
          position: absolute;
          top: 20px;
          left: 11px;
          width: 1px;
          height: calc(100% + space(lg) / 2);
          content: "";
          background-color: t(border, default);

          @include up(xl) {
            top: 11px;
            left: calc(50% + 8px);
            width: calc(100% + space(lg) / 2);
            height: 1px;
          }
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: space(nm);

    @include up(xl) {
      text-align: center;
    }

    &-title {
      font-size: fs(md);
      color: t(text, primary);

      &::before,
      &::after {
        position: absolute;
        content: "";
      }

      &::before {
        top: -1px;
        left: 0;
        width: 19px;
        height: 19px;
        background-color: t(bg, primary);
        border: 1px solid t(border, default)-strong;
        border-radius: radius(circle);

        @include up(xl) {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &::after {
        top: 4px;
        left: 5px;
        width: 11px;
        height: 11px;
        background-color: t(border, default)-strong;
        border-radius: radius(circle);

        @include up(xl) {
          top: 5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
</style>
