---
import Text from "@elements/Text.astro";

type Item = { title: string; description: string };

const { items } = Astro.props as { items: Item[] };
---

<div class="container">
  <ol class="list">
    {
      items.map((item) => (
        <li class="list-item">
          <dl class="description">
            <dt class="description-title">{item.title}</dt>
            <dd>
              <Text>{item.description}</Text>
            </dd>
          </dl>
        </li>
      ))
    }
  </ol>
</div>

<style lang="scss">
  @use "@styles/common/variables" as *;
  @use "@styles/common/mixins" as *;

  .container {
    @include container;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: $space-large;

    @include for-screen-large {
      flex-direction: row;
    }

    &-item {
      position: relative;
      padding-left: $space-large;

      @include for-screen-large {
        padding-top: $space-large;
        padding-left: 0;
      }

      &:not(:last-child) {
        &::before {
          position: absolute;
          top: 20px;
          left: 11px;
          width: 1px;
          height: calc(100% + $space-large / 2);
          content: "";
          background-color: $color-border;

          @include for-screen-large {
            top: 11px;
            left: calc(50% + 8px);
            width: calc(100% + $space-large / 2);
            height: 1px;
          }
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: $space-normal;

    @include for-screen-large {
      text-align: center;
    }

    &-title {
      font-size: $font-size-medium;
      color: $color-text-primary;

      &::before,
      &::after {
        position: absolute;
        content: "";
      }

      &::before {
        top: -1px;
        left: 0;
        width: 19px;
        height: 19px;
        background-color: $color-bg-primary;
        border: 1px solid $color-border-strong;
        border-radius: $radius-circle;

        @include for-screen-large {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &::after {
        top: 4px;
        left: 5px;
        width: 11px;
        height: 11px;
        background-color: $color-border-strong;
        border-radius: $radius-circle;

        @include for-screen-large {
          top: 5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
</style>
