---
import type { Meta } from "@/types/project";

const { items } = Astro.props as { items: Meta[] };
---

<div class="container">
  <div class="inner">
    {
      items.map((item) => (
        <dl class="list">
          <dt class="list-title">{item.title}</dt>
          <dd class="list-description">{item.body}</dd>
        </dl>
      ))
    }
  </div>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: space(2xl);
    align-items: center;
    justify-content: center;

    @include for-screen-medium {
      flex-direction: row;
      gap: space(4xl);
    }
  }

  .list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: space(sm);
    text-align: center;

    @include for-screen-medium {
      text-align: left;
    }

    &:not(:first-child) {
      &::before {
        position: absolute;
        top: -24px;
        left: 50%;
        width: 80px;
        height: 1px;
        content: "";
        background-color: t(border, default);
        transform: translateX(-50%);

        @include for-screen-medium {
          top: 50%;
          left: -64px;
          width: 1px;
          height: 24px;
          transform: translateY(-50%);
        }
      }
    }

    &-title {
      font-size: fs(sm);
      text-transform: uppercase;
    }

    &-description {
      font-size: fs(md);
      color: t(text, primary);
    }
  }
</style>
