---
import Text from "@/elements/Text.astro";
import type { Requirement } from "@/types/project";

const { items } = Astro.props as { items: Requirement[] };
---

<section class="container">
  <div class="inner">
    <h2 class="title">
      What they <span class="title-strong">needed?</span>
    </h2>

    <ul class="list">
      {
        items.map((item) => (
          <li class="list-item">
            <Text size="medium">{item.body}</Text>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  @use "@/styles/common/variables" as *;
  @use "@/styles/common/mixins" as *;

  .container {
    @include container;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: $space-x-large;

    @include for-screen-large {
      gap: $space-xxx-large;
    }
  }

  .title {
    @include title($font-size-xx-large);

    text-align: center;

    &-strong {
      @include title-strong($font-size-xx-large);
    }
  }

  .list {
    @include container-inner;

    display: flex;
    flex-direction: column;
    gap: $space-normal;

    &-item {
      position: relative;
      padding-left: $space-medium;

      &::before {
        position: absolute;
        top: 15px;
        left: 0;
        width: 11px;
        height: 11px;
        content: "";
        background-color: $color-border-strong;
        border-radius: $radius-circle;
      }
    }
  }
</style>
