---
import Picture from "@/elements/Picture.astro";
import Text from "@/elements/Text.astro";
import type { Solution } from "@/types/project";
import { parseRichText } from "@/utils/parseRichText";

const { items } = Astro.props as { items: Solution[] };
---

<section class="container">
  <div class="inner">
    <h2 class="title">
      How I <span class="title-strong">approached?</span>
    </h2>

    {
      items.map((item) => (
        <section class="item">
          <div class="item-content">
            <h3 class="item-title" set:html={parseRichText(item.title)} />

            <div>
              <span class="item-label">{item.label}</span>
            </div>

            <div class="item-description">
              <Text>{item.body}</Text>
            </div>
          </div>

          <div class="item-visual">
            <div class="image">
              <Picture src={item.image.url} />
            </div>
          </div>
        </section>
      ))
    }
  </div>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: space("xl");

    @include up("xl") {
      gap: space("3xl");
    }
  }

  .title {
    @include title(fs("2xl"));

    text-align: center;

    &-strong {
      @include title-strong(fs("2xl"));
    }
  }

  .item {
    display: flex;
    flex-direction: column-reverse;
    gap: space(md);
    padding-top: space(nm);
    padding-bottom: space(nm);

    @include up("xl") {
      flex-direction: row;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: space(nm);

      @include up("xl") {
        width: 50%;
      }
    }

    &-visual {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include up("xl") {
        width: 50%;
      }
    }

    &-title {
      order: 2;

      @include title(fs("xl"));

      // :global(strong) {
      //   @include title-strong(fs("xl"));
      // }
    }

    &-label {
      order: 1;

      @include title-label(fs(md));
    }

    &-description {
      order: 3;
    }

    .image {
      width: 100%;
    }
  }
</style>
