---
import type { Category } from "@/types/project";

const { items } = Astro.props as { items: Category[] };
---

<div class="container">
  <ul class="list">
    {items.map((item) => <li class="list-item">{item.name}</li>)}
  </ul>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: space(nm);
    align-items: center;
    justify-content: center;

    &-item {
      padding: space(sm) space(nm);
      color: t(text, primary);
      border: 1px solid t(border, default);
      border-radius: radius(nm);
    }
  }
</style>
