---
import Picture from "@/elements/Picture.astro";

const { src } = Astro.props;
---

<div class="container">
  <div class="inner">
    <div class="image">
      <Picture src={src} width={1200} />
    </div>
  </div>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;

    position: relative;
    box-shadow: 0 0 24px 16px #000;

    @include up(md) {
      box-shadow: 0 0 40px 24px #000;
    }
  }

  .inner {
    padding: space(sm);
    background-color: t(bg, image);
    border-radius: radius(nm);

    @include up(md) {
      padding: space(nm);
      border-radius: radius(md);
    }
  }

  .image {
    overflow: hidden;
    border-radius: calc(radius(nm) - 1%);

    @include up(md) {
      border-radius: calc(radius(md) - 1%);
    }
  }
</style>
