---
import Picture from "@/elements/Picture.astro";

const { src } = Astro.props;
---

<div class="container">
  <div class="inner">
    <div class="image">
      <Picture src={src} width={1200} />
    </div>
  </div>
</div>

<style lang="scss">
  @use "@/styles/common/variables" as *;
  @use "@/styles/common/mixins" as *;

  .container {
    @include container;

    box-shadow: 0px 0px 24px 16px #000000;
    position: relative;

    @include for-screen-medium {
      box-shadow: 0px 0px 40px 24px #000000;
    }
  }

  .inner {
    padding: $space-small;
    background-color: $color-bg-image;
    border-radius: $radius-normal;

    @include for-screen-medium {
      padding: $space-normal;
      border-radius: $radius-large;
    }
  }

  .image {
    overflow: hidden;
    border-radius: calc($radius-normal - 1%);

    @include for-screen-medium {
      border-radius: calc($radius-large - 1%);
    }
  }
</style>
