---
const { title, label } = Astro.props;
---

<h1 class="container">
  <div class="title"><span>{title}</span></div>
  <div class="label"><span>{label}</span></div>
</h1>

<style lang="scss">
  @use "@styles/mixins" as *;
  @use "@styles/variables" as *;

  .container {
    @include container;

    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .title {
    order: 2;

    span {
      @include title-strong($font-size-xxx-large);

      text-transform: uppercase;
    }
  }

  .label {
    span {
      @include title-label($font-size-large);
    }
  }
</style>
