@use "../tokens" as *;
@use "../utilities" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  background-color: t(canvas, primary);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
