@use "./functions" as fn;

@mixin up($bp) {
  @media (min-width: fn.bp($bp)) {
    @content;
  }
}

@mixin container($max-width: 1200px, $pad: md) {
  width: 100%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: fn.space($pad);
  padding-left: fn.space($pad);
}

@mixin container-inner {
  max-width: fn.container(normal);
  margin-right: auto;
  margin-left: auto;
}

@mixin box($gap: md) {
  display: flex;
  flex-direction: column;
  gap: fn.space($gap);
}

@mixin title($font-size, $transform: null) {
  font-size: $font-size;
  font-weight: fn.fw(bold);

  @if $transform != null {
    text-transform: $transform;
  }
}

@mixin title-strong($font-size, $transform: null) {
  font-size: $font-size;
  font-weight: fn.fw(bold);
  line-height: fn.lh(thin);
  letter-spacing: fn.ls(normal);

  @if $transform != null {
    text-transform: $transform;
  }
}

@mixin title-label($font-size) {
  font-size: $font-size;
  font-weight: fn.fw(bold);
  text-transform: capitalize;
  background: fn.color(gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
