@use "./functions" as fn;

@mixin up($bp) {
  @media (min-width: fn.bp($bp)) {
    @content;
  }
}

@mixin container($max-width: 1200px) {
  width: 100%;
  max-width: $max-width;
  padding-right: fn.sp(normal);
  padding-left: fn.sp(normal);
  margin-right: auto;
  margin-left: auto;
}

@mixin container-inner {
  max-width: fn.ct(small);
  margin-right: auto;
  margin-left: auto;
}

@mixin inner {
  padding-top: fn.sp(xlarge);
  padding-bottom: fn.sp(xlarge);

  @include up(xlarge) {
    padding-top: fn.sp(xxxlarge);
    padding-bottom: fn.sp(xxxlarge);
  }
}

@mixin box($gap: medium) {
  display: flex;
  flex-direction: column;
  gap: fn.sp($gap);
}

@mixin title($font-size, $transform: null) {
  font-family: Orbitron, sans-serif;
  font-size: $font-size;
  font-weight: fn.fw(bold);
  line-height: fn.lh(thin);
  color: fn.t(text, primary);
  letter-spacing: fn.ls(wide);

  @if $transform {
    text-transform: $transform;
  }
}

@mixin title-label($font-size) {
  font-size: $font-size;
  font-weight: fn.fw(bold);
  text-transform: capitalize;
  background: fn.cl(gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
