---
import Text from "@/elements/Text.astro";
import type { Category } from "@/types/project";

const { stacks } = Astro.props as { stacks: Category[] };
---

<div class="container">
  <ul class="list">
    {
      stacks.map((item) => (
        <li class="list-item">
          <Text color="primary">{item.name}</Text>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: sp(small);
    align-items: center;
    justify-content: center;

    @include up(xlarge) {
      gap: sp(normal);
    }

    &-item {
      padding: sp(xsmall) sp(normal);
      border: 1px solid t(border, primary);
      border-radius: rd(normal);
    }
  }
</style>
