@use "./variables" as *;

@mixin container {
  padding-right: $space-normal;
  padding-left: $space-normal;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $screen-medium) {
    padding-right: $space-medium;
    padding-left: $space-medium;
  }

  @media screen and (min-width: $screen-large) {
    max-width: calc($screen-x-large - $space-x-large * 2);
    padding-right: $space-x-large;
    padding-left: $space-x-large;
  }
}

@mixin container-inner {
  max-width: $screen-normal;
  margin-right: auto;
  margin-left: auto;
}

@mixin title($font-size) {
  font-size: $font-size;
  font-weight: $font-weight-bold;
}

@mixin title-strong($font-size) {
  font-size: $font-size;
  font-weight: $font-weight-bold;
  color: $color-text-primary;
  text-transform: capitalize;
}

@mixin title-label($font-size) {
  font-size: $font-size;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  background: $gradient-primary;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
