---
import Icon from "@/assets/icons/icon_html.svg";
import Image from "@/elements/Image.astro";
import Text from "@/elements/Text.astro";

const stacks = [
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
  { name: "Astro", image: Icon },
  { name: "React", image: Icon },
  { name: "Tailwind CSS", image: Icon },
];
---

<section class="container">
  <div class="inner">
    <h2 class="title">Stacks</h2>

    <ul class="list">
      {
        stacks.map((stack) => (
          <li class="list-item">
            <Image src={stack.image} alt={stack.name} />
            <Text color="primary">{stack.name}</Text>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  $description-title-width: 240px;

  .container {
    @include container;
  }

  .inner {
    @include inner;
    @include box(large);

    @include up(xlarge) {
      @include box(xxlarge);

      flex-direction: row;
    }
  }

  .title {
    @include title(primary, xxlarge, uppercase);

    text-align: center;

    @include up(xlarge) {
      @include title(primary, large, uppercase);
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: sp(small);

    @include up(xlarge) {
      gap: sp(normal);
    }

    &-item {
      @include card(small);

      display: flex;
      gap: sp(small);
      align-items: center;
      justify-content: center;
      padding: sp(small) sp(normal) sp(small) sp(small);
    }
  }
</style>
