---
import Image from "@/elements/Image.astro";
import Text from "@/elements/Text.astro";
import type { Stacks } from "@/types/project";

const { items } = Astro.props as { items: Stacks[] };
---

<section class="container">
  <div class="inner">
    <h2 class="title js-animateTypeRoot-stacks js-animateType">Stacks</h2>

    <ul class="list js-animateFadeUpRoot-stacks">
      {
        items.map((item) => (
          <li class="list-item js-animateFadeUp">
            {item.icon && <Image src={item.icon?.url} alt={item.name} />}
            <Text color="primary">{item.name}</Text>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  $description-title-width: 240px;

  .container {
    @include container;
  }

  .inner {
    @include inner;
    @include box(large);

    @include up(xlarge) {
      @include box(xxlarge);

      flex-direction: row;
    }
  }

  .title {
    @include title(primary, xxxlarge, bold, uppercase);

    text-align: center;

    @include up(xlarge) {
      @include title(primary, xlarge, bold, uppercase);

      min-width: 201px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: sp(small);
    justify-content: center;

    @include up(xlarge) {
      gap: sp(normal);
      justify-content: flex-start;
    }

    &-item {
      @include card(small);

      display: flex;
      gap: sp(small);
      align-items: center;
      justify-content: center;
      padding: sp(small) sp(normal) sp(small) sp(small);
    }
  }
</style>

<script>
  import { initAnimation } from "@/scripts/initAnimation";
  import { scrollFadeUp, scrollType } from "@/scripts/scrollAnimations";

  initAnimation({
    mode: "scroll",
    root: ".js-animateTypeRoot-stacks",
    start: "top 80%",
    buildTimeline: ({ master }) => {
      const tlType = scrollType(".js-animateTypeRoot-stacks", { cps: 20 });
      if (tlType) master.add(tlType, 0);
    },
  });

  initAnimation({
    mode: "scroll",
    root: ".js-animateFadeUpRoot-stacks",
    start: "top 70%",
    buildTimeline: ({ rootEl, master }) => {
      const tlFadeUp = scrollFadeUp(rootEl);
      if (tlFadeUp) master.add(tlFadeUp, 0);
    },
  });
</script>
