---
import Image from "@/elements/Image.astro";
import Text from "@/elements/Text.astro";
import ImageHero from "./_images/hero_img.png";
---

<section class="container">
  <div class="inner">
    <div class="content">
      <h1 class="title">
        Hi, I am <br />
        <span class="title-strong">Astlanox</span>.
      </h1>
      <p class="role">Web developer</p>
      <Text>
        Frontend-focused web developer with a strong UI / UX background, bridging design and development to build
        modern, scalable websites, focused on clarity, usability, and long-term maintainability.
      </Text>
    </div>

    <div class="visual">
      <div class="visual-img">
        <Image src={ImageHero} alt="" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
    @include box;

    position: relative;
    justify-content: center;
    text-align: center;
  }

  .inner {
    @include inner;
    @include box(xlarge);

    @include up(xlarge) {
      @include box(xxxlarge);
    }
  }

  .content {
    @include box;
    @include container-inner;
  }

  .title {
    background: t(text, gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include title(primary, xxlarge);

    &-strong {
      @include title(primary, xxxlarge, uppercase);
    }
  }

  .role {
    @include title(accent, medium, uppercase);

    &::before {
      content: "ROLE: ";
    }
  }

  .visual {
    @include box;

    align-items: center;
    justify-content: center;

    &-img {
      max-width: 670px;
    }
  }
</style>
