---
import IconGithub from "@/assets/icons/icon_github.svg";
import { Urls } from "@/constants/meta";
import Button from "@/elements/Button.astro";
import Text from "@/elements/Text.astro";
import Visual from "./_Visual/_Visual.astro";
---

<section class="container">
  <div class="inner">
    <div>
      <hgroup class="title js-animateTypeRoot-hero">
        <div class="js-fv-type-line1">Hi, I am</div>
        <h1 class="title-strong js-fv-type-line2">Astlanox</h1>
      </hgroup>

      <div class="content js-animateFadeUpRoot-hero">
        <p class="role js-animateFadeUp">Web developer</p>
        <Text class="js-animateFadeUp">
          Frontend-focused web developer with a strong UI / UX background, bridging design and development to build
          modern, scalable websites, focused on clarity, usability, and long-term maintainability.
        </Text>
        <Button
          url={Urls.GITHUB_PORTFOLIO}
          text="View on Github"
          icon={IconGithub}
          isExternal
          class="js-animateFadeUp"
        />
      </div>
    </div>

    <Visual />
  </div>

  <canvas class="bg js-bg js-animateFadeInRoot-hero js-animateFadeIn" aria-hidden="true"></canvas>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;
    @include box;

    position: relative;
    justify-content: center;
    text-align: center;
  }

  .inner {
    @include box(xlarge);

    padding-top: sp(xxxlarge);
    padding-bottom: sp(xlarge);

    @include up(xlarge) {
      @include box(xxxlarge);

      padding-top: sp(xxxxlarge);
      padding-bottom: sp(xxxlarge);
    }
  }

  .content {
    @include box(medium);
    @include container-inner;

    align-items: center;
    justify-content: center;
    margin-top: sp(medium);
  }

  .title {
    @include title(primary, xxlarge, bold);

    background: t(text, gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include title(primary, xxlarge, bold, normal, nowrap);

    &-strong {
      @include title(primary, xxxxxlarge, bold, uppercase, nowrap);
    }
  }

  .role {
    @include title(accent, medium, medium, uppercase);

    &::before {
      content: "ROLE: ";
    }
  }

  .button {
    @include card(small);
    @include box(small);

    flex-direction: row;
    align-items: center;
    padding: sp(small) sp(normal) sp(small) sp(small);
    color: t(text, primary);
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
    }
  }

  .bg {
    position: fixed;
    inset: 0;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100vw;
    min-width: 640px;
    max-height: 90svh;
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: translate(-50%, -50%);

    @include up(medium) {
      max-height: 100svh;
      aspect-ratio: 4/3;
    }
  }
</style>

<script>
  import { initBackgroundAnimation } from "@/scripts/backgroundAnimation";

  initBackgroundAnimation({ canvasSelector: ".js-bg" });
</script>

<script>
  import { initAnimation } from "@/scripts/initAnimation";
  import { initialFadeUp, initialType, initialFadeIn } from "@/scripts/initialAnimations";

  initAnimation({
    mode: "intro",
    root: ".js-animateTypeRoot-hero",
    lockScroll: true,
    buildTimeline: ({ master }) => {
      const tlType = initialType(".js-animateTypeRoot-hero", {
        cps: 15,
        dps: 10,
        delayBetween: 0.18,
        holdAfterLine2From: 1,
      });

      if (tlType) {
        master.add(tlType, 0);
      }

      const tlFadeUp = initialFadeUp(".js-animateFadeUpRoot-hero", { delay: 4 });

      if (tlFadeUp) {
        master.add(tlFadeUp, 0);
      }

      const tlFadeIn = initialFadeIn(".js-animateFadeInRoot-hero", { delay: 4 });

      if (tlFadeIn) {
        master.add(tlFadeIn, 0);
      }
    },
  });
</script>
