$palette: (
  white: #fff,
  black: #000,

  gray: (
    100: #9c9c9c,
    200: #2f2f2f,
  ),

  aqua: (
    100: #c0e8e8,
  ),

  blue: (
    100: #adc3f4,
  ),

  purple: (
    100: #f4c1f6,
  ),

  // glow: (
  //   purple: rgb(123 97 255 / 30%),
  //   blue: rgb(0 198 255 / 30%),
   // ),
);
