$breakpoints: (
  sm: 375px,
  md: 640px,
  lg: 768px,
  xl: 1024px,
  2xl: 1440px,
);

$palette: (
  white: #fff,
  black: #000,

  gray: (
    100: #f4f4f5,
    200: #e4e4e7,
    300: #d4d4d8,
    400: #a1a1aa,
    500: #71717a,
    600: #52525b,
    700: #3f3f46,
    800: #27272a,
    900: #18181b,
  ),

  blue: (
    100: #c0e8e8,
    200: #adc3f4,
    500: #5379ec,
  ),

  purple: (
    100: #f4c1f6,
    500: #d339de,
  ),

  glow: (
    purple: rgb(123 97 255 / 30%),
    blue: rgb(0 198 255 / 30%),
  ),
);
