@use "sass:map";
@use "./color" as c;

@function palette-get($keys...) {
  $cur: c.$palette;

  @each $k in $keys {
    $cur: map.get($cur, $k);
  }

  @return $cur;
}

$semantic: (
  bg: (
    primary: palette-get(black),
    secondary: palette-get(white),
    transparent-dark-light: rgb(0 0 0 / 25%),
    // from: rgba($black, 0.25)
    transparent-dark: rgb(0 0 0 / 50%),
    // from: rgba($black, 0.5)
    image: rgb(255 255 255 / 10%),
    // from: rgba($white, 0.1)
  ),

  surface: palette-get(gray, 900),
  text: (
    primary: palette-get(white),
    secondary: rgb(255 255 255 / 50%),
    // from: rgba($white, 0.5)
    white: palette-get(white),
    black: palette-get(black),
    muted: palette-get(gray, 500),
  ),

  border: (
    default: rgb(255 255 255 / 30%),
    // from: rgba($white, 0.3)
    strong: rgb(255 255 255 / 80%),
    // from: rgba($white, 0.8)
  ),

  gradient: (
    primary: linear-gradient(
        to right,
        palette-get(blue, 500) 0%,
        palette-get(purple, 500) 100%
      ),
    secondary: linear-gradient(
        to right,
        palette-get(blue, 200) 0%,
        palette-get(purple, 100) 100%
      ),
  ),

  glow: (
    primary: palette-get(glow, purple),
    secondary: palette-get(glow, blue),
  ),

  glass: (
    bg: rgb(255 255 255 / 10%),
    // from: rgba($white, 0.1)
    highlight: rgb(255 255 255 / 40%),
    // from: rgba($white, 0.4)
  ),
);
