@use "sass:map";
@use "./color" as c;

@function palette-get($keys...) {
  $cur: c.$palette;

  @each $k in $keys {
    $cur: map.get($cur, $k);
  }

  @return $cur;
}

$semantic: (
  text: (
    // primary: palette-get(white),
    // secondary: rgb(255 255 255 / 50%),
    // white: palette-get(white),
    // black: palette-get(black),
    // muted: palette-get(gray, 500),
    // accent: linear-gradient(
    //     to right,
    //     palette-get(blue, 200) 0%,
    //     palette-get(purple, 100) 100%
    //   ),
    // accent-light: palette-get(blue, 100),
    // accent-strong: linear-gradient(
    //     to right,
    //     palette-get(blue, 500) 0%,
    //     palette-get(purple, 500) 100%
     //   ),
  ),

  background: (
    // primary: palette-get(black),
    // secondary: palette-get(white),
    // transparent-dark-light: rgb(0 0 0 / 25%),
    // transparent-dark: rgb(0 0 0 / 50%),
     // image: rgb(255 255 255 / 10%),
  ),

  border: (
    // default: rgb(255 255 255 / 30%),
     // strong: rgb(255 255 255 / 80%),
  ),

  // glow: (
  //   primary: palette-get(glow, purple),
  //   secondary: palette-get(glow, blue),
  // ),
  // glass: (
  //   background: rgb(255 255 255 / 10%),
  //   highlight: rgb(255 255 255 / 40%),
   // ),
);
