$font-size: (
  xsmall: 1.1rem,
  small: 1.4rem,
  normal: 1.6rem,
  medium: 2rem,
  large: clamp(2rem, 1.455rem + 2.33vw, 3.2rem),
  xlarge: clamp(2.8rem, 2.229rem + 2.857vw, 4.8rem),
  2xlarge: clamp(3.6rem, 2.343rem + 6.286vw, 8rem),
  xxxlarge: clamp(4.8rem, 1.527rem + 13.96vw, 12rem),
);
$font-weight: (
  normal: 300,
  medium: 500,
  bold: 700,
);
$line-height: (
  thin: 1.1,
  normal: 1.5,
  wide: 2,
);
$letter-spacing: (
  normal: 0.03em,
  wide: 0.08em,
);
