// * Screen Sizes *//
$screen-small: 375px;
$screen-normal: 640px;
$screen-medium: 768px;
$screen-large: 1024px;
$screen-x-large: 1440px;

// * Spaces *//
$space-base: 8px;
$space-x-small: calc($space-base / 2);
$space-small: calc($space-base);
$space-normal: calc($space-base * 2);
$space-medium: calc($space-base * 3);
$space-large: calc($space-base * 4);
$space-x-large: calc($space-base * 5);
$space-xx-large: calc($space-base * 6);
$space-xxx-large: calc($space-base * 10);
$space-xxxx-large: calc($space-base * 16);
$space-xxxxx-large: calc($space-base * 25);

// * Colors *//
$white: #fff;
$black: #000;
$gray-100: #f4f4f5;
$gray-200: #e4e4e7;
$gray-300: #d4d4d8;
$gray-400: #a1a1aa;
$gray-500: #71717a;
$gray-600: #52525b;
$gray-700: #3f3f46;
$gray-800: #27272a;
$gray-900: #18181b;
$purple-500: #d339de;
$blue-500: #5379ec;
$purple-glow: rgb(123 97 255 / 30%);
$blue-glow: rgb(0 198 255 / 30%);

// Semantic Colors
$color-bg-primary: $black;
$color-bg-secondary: $white;
$color-bg-image: rgba($white, 0.25);
$color-bg-header: rgba($black, 0.5);
$color-bg-backdrop: rgba($black, 0.5);
$color-bg-image: rgba($white, 0.1);
$color-surface: $gray-900;
$color-text-primary: $white;
$color-text-secondary: rgba($white, 0.5);
$color-text-white: $white;
$color-text-black: $black;
$color-text-muted: $gray-500;
$color-border: rgba($white, 0.3);
$color-border-strong: rgba($white, 0.8);
$color-primary: $blue-500;
$color-secondary: $purple-500;
$gradient-primary: linear-gradient(
  to right,
  $color-primary 0%,
  $color-secondary 100%
);
$color-glow-primary: $purple-glow;
$color-glow-secondary: $blue-glow;
$color-glass-bg: rgba($white, 0.1);
$color-glass-highlight: rgba($white, 0.4);

// * Font Sizes *//
$font-size-x-small: 1.1rem;
$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: clamp(2rem, 1.455rem + 2.33vw, 3.2rem);
$font-size-x-large: clamp(2.8rem, 1.527rem + 5.43vw, 5.6rem);
$font-size-xx-large: clamp(4rem, 2.182rem + 7.76vw, 8rem);
$font-size-xxx-large: clamp(4.8rem, 1.527rem + 13.96vw, 12rem);

// * Font Weights *//
$font-weight-normal: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// * Line Heights *//
$line-height-thin: 1;
$line-height-normal: 1.5;
$line-height-wide: 2;

// Letter Spacings
$letter-spacing-normal: 0;
$letter-spacing-wide: 3%;

// * Radiuses *//
$radius-small: 0.8rem;
$radius-normal: 2.4rem;
$radius-large: 6.4rem;
$radius-pill: 50rem;
$radius-circle: 99rem;

// Blurs
$blur-normal: blur(12px);

// Layers
$layer-base: 0;
$layer-overlay: 1;
$layer-popup: 2;
$layer-fixed: 3;
