---

---

<section class="container">
  <h1 class="title">Hi, I am <br /><span class="title-strong">Astlanox</span>.</h1>
  <p class="role">Web developer</p>
  <p>
    Frontend-focused web developer with a strong UI / UX background,<br />
    bridging design and development to build modern, scalable websites,<br />
    focused on clarity, usability, and long-term maintainability.
  </p>
</section>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include container;

    position: relative;
    text-align: center;
  }

  .title {
    background: t(gradient, secondary);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include title(fs("xl"));

    &-strong {
      @include title-strong(fs("2xl"), uppercase);
    }
  }

  .role {
    @include title(fs(md), uppercase);

    &::before {
      content: "MODE: ";
    }
  }
</style>
