---
import Text from "@/elements/Text.astro";

const { link, label = "" } = Astro.props;
---

<a href={link} class="button">
  <span class="button-icon" aria-hidden="true">
    <slot name="icon" />
  </span>

  {
    label && (
      <Text color="black" size="small" weight="bold" transform="capitalize" nowrap>
        {label}
      </Text>
    )
  }
</a>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .button {
    display: inline-block;
    display: flex;
    gap: sp(xsmall);
    align-items: center;
    justify-content: center;
    padding: sp(small) sp(normal);
    background-color: t(canvas, white);
    border-radius: rd(pill);

    &-icon {
      display: inline-flex;
      display: block;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      color: cl(black);

      /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
      :global(svg) {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
