---
import IconExternal from "@/assets/icons/icon_external.svg";
import Text from "@/elements/Text.astro";

const { url, text, label, icon: Icon, isExternal, isSmall = false } = Astro.props;

const classList = ["container"];

if (isSmall) classList.push("container-small");
---

<div class={classList.join(" ")}>
  {
    label && !isSmall && (
      <div class="content-text">
        <Text color="primary" size="small" nowrap>
          {label}
        </Text>
      </div>
    )
  }
  <div class="button">
    <a href={url} class="link" target={isExternal ? "_blank" : "_self"}>
      <Icon width={isSmall ? 34 : 40} height={isSmall ? 32 : 40} />

      {
        text && !isSmall && (
          <Text color="primary" weight="bold">
            {text}
          </Text>
        )
      }

      {
        isExternal && (
          <div class="icon icon-external">
            <IconExternal width={18} height={18} />
          </div>
        )
      }
    </a>
  </div>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include box;

    align-items: center;
  }

  .button {
    @include card(small);

    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
    }
  }

  .link {
    @include box(small);

    flex-direction: row;
    align-items: center;
    padding: sp(small) sp(normal) sp(small) sp(small);
    color: t(text, primary);
  }

  .icon {
    &-external {
      opacity: 0.5;
    }
  }

  .container-small {
    .link {
      padding: sp(small);
    }
  }
</style>
