---
import IconEmail from "@/assets/icons/icon_signal.svg";
import { Urls } from "@/constants/meta";
import Text from "@/elements/Text.astro";

const { isSmall = false } = Astro.props;

const classList = ["container"];
if (isSmall) classList.push("container-small");
---

<div class={classList.join(" ")}>
  {
    !isSmall && (
      <div class="content-text">
        <Text color="primary" size="small" nowrap>
          Awaiting your signal…
        </Text>
      </div>
    )
  }
  <div class="button">
    <a href={Urls.CONTACT} class="link">
      <div class="icon">
        <IconEmail width={34} height={34} />
      </div>

      {
        !isSmall && (
          <Text color="primary" weight="bold">
            Communicate
          </Text>
        )
      }
    </a>
  </div>
</div>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    @include box;

    align-items: center;

    // @include box(normal);

    // flex-direction: row;
    // align-items: center;
  }

  .button {
    @include card(small);

    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
    }
  }

  .link {
    @include box(small);

    flex-direction: row;
    align-items: center;
    padding: sp(small) sp(normal) sp(small) sp(small);
    color: t(text, primary);
  }

  .container-small {
    .link {
      padding: sp(small);
    }
  }
</style>
