---
import LogoImage from "@/assets/images/common/logo.svg";
import { Titles, Urls } from "@/constants/meta";
import Image from "@/elements/Image.astro";
import Cta from "./Cta.astro";
---

<header class="container">
  <nav class="nav">
    <div class="logo">
      <a href={Urls.BASE}>
        <Image src={LogoImage} alt={Titles.SITE} />
      </a>
    </div>
  </nav>

  <Cta />
</header>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding-right: sp(normal);
    padding-left: sp(normal);

    @include up(medium) {
      height: 160px;
      padding-right: sp(medium);
      padding-left: sp(medium);
    }

    @include up(xlarge) {
      padding-right: sp(xlarge);
      padding-left: sp(xlarge);
    }
  }

  .logo {
    width: 140px;

    @include up(xlarge) {
      width: 160px;
    }
  }
</style>
