---
import Cta from "@/components/common/Cta.astro";
import Footer from "@/components/common/Footer.astro";
import Header from "@/components/common/Header.astro";
import { Titles } from "@/constants/meta";

const { title } = Astro.props;
import "@/styles/style.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | ${Titles.SITE}` : `${Titles.SITE} - Web developer's portfolio`}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Header />

    <main>
      <slot />

      <nav class="nav js-cta">
        <Cta />
      </nav>
    </main>

    <Footer />
  </body>
</html>

<style lang="scss">
  @use "@/styles/tokens" as *;
  @use "@/styles/utilities" as *;

  .nav {
    position: fixed;
    bottom: sp(normal);
    left: 50%;
    z-index: ly(fixed);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
    transition: 0.25s ease-in-out;

    @include up(xlarge) {
      bottom: sp(medium);
    }

    &.is-show {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(0%);
      transition: 0.25s ease-in-out;

      &:hover {
        transform: translateX(-50%) translateY(0%) scale(103%);
      }
    }
  }
</style>

<script src="@/scripts/ctaObserver.ts"></script>
