---
import Footer from "@/components/common/Footer.astro";
import Header from "@/components/common/Header.astro";
import { Titles } from "@/constants/meta";

const { title } = Astro.props;
import "@/styles/style.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title ? `${title} | ${Titles.SITE}` : `${Titles.SITE} - Web developer's portfolio`}</title>
  </head>

  <body>
    <Header />

    <main class="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style lang="scss">
  @use "@/styles/common/variables" as *;
  @use "@/styles/common/mixins" as *;

  .main {
    margin-top: $space-normal;

    @include for-screen-medium {
      margin-top: $space-large;
    }

    @include for-screen-medium {
      margin-top: $space-xx-large;
    }
  }
</style>
